h1 {font-family; Garamond; text-align: center; color: #460090}
    body{background-color: #CEEFD5 }
    p {color: black}
    h2 {font-family; Garamond}
    h2 {color: darkgreen}
    a {color: black}
    a:visited{ color: darkorchid}
    a:hover{color:blue}
    a:active{color:darkblue}
    hr {background-color: darkorchid} 
    div.navbar {
    float: left; 
    width: 15%; 
    height: 100%;
    }
    div.main{
        float: right;
        width: 85%;
        height: 100%;
        }
    li a {
        font-size: 30px;
        font-family:sans-serif;
        display: block;
        width: 85%;
        background-color: #158212; 
        line-height: 700%;
        }
      
        ul { list-style-type: circle; 
            margin: 0; 
            padding 0;   
        }
.footer{width: 100%}